$color-primary: #A5A5A5;
$color-blue: #08A6E4;
$color-red: #FB3B64;
$color-green: #55DFB4;
$color-background-primary: #F7F7F7;
$color-background-second: #FFFFFF;

$font-Open-Sans: 'Open Sans',
sans-serif;
$font-Raleway: 'Raleway',
sans-serif;