.section__one {
    margin-top: 140px;

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 5rem;
            font-family: $font-Raleway;
        }

        p {
            font-size: 2rem;
            font-family: $font-Open-Sans;
            margin: 40px 0;
            padding: 20px;
        }

        button {
            font-size: 2rem;
            color: $color-background-second;
            width: 300px;
            height: 67px;
            background-color: $color-blue;
            border: none;
            border-radius: 40px;
            box-shadow: 5px 10px 14px #07ACE629;
            margin: 40px 0;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: black;
                outline: none;
            }
        }
    }

    .background {
        width: 100%;
        height: 300px;
        background-image: url("../assets/Background.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1024px) {
    .section__one {
        .background {
            height: 500px;
        }
    }
}